/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#colorNavBar {
    background-color: black;
    border-bottom: 10px;
    border-bottom-color: greenyellow;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

#namesCatNavBar {
    margin-left: 70%
}

#nameProjectBar {
    color:whitesmoke;
    margin-left: 2%;
}

#nameProjectBar:hover {
    color: cyan;
}

#leftFrog {
    color:greenyellow
}

#rightFrog {
    color: red;
    /*transform: scaleX(-1)*/ /*non mi piace flippato ma al momento lo tengo commentato per ricordarmi come si fa*/
}

#btnCreate {
    background-color:yellow;
    border-color:red;
    color:blue;
}

#btnCreate:hover {
    background-color: blue;
    border-color: red;
    color: yellow;
}

#TopTextFooter {
    color: greenyellow;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#TopTextFooter:hover {
    color:yellow;
}

#twitch {
    color: white;
}

#twitch:hover {
    color: #6441a5;
    text-decoration: none;
}

#youtube {
    color: white;
}

#youtube:hover {
    color: red;
    text-decoration: none
}

#instagram {
    color: white;
}

#instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none
}

#privacy {
    color: red;
    text-align: center;
    display: block;
    height: auto;
    width: auto;
    margin-top: 5px;
    margin-bottom: 15px
}

#privacy:hover {
    color:yellow;
    text-decoration: none
}

a {
    color: yellow;
}

a:hover {
    color:aquamarine
}

#aHover {
    color:white;
}

#aHover:hover {
    color: rgb(0 241 97 / 0.84)
}

.container {
    color:red;
}

td{
    color:white;
}

#headTextColor {
    color:red;
    text-align:center;
}

h1 {
    color:yellow;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 9%;
}
.footer {
    background-color: yellow;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    
}

#footer {
    background-color:black;
    border-top: 3px solid;
    border-top-color: rgb(244 5 5 / 0.93);
}
