@{
    ViewData["Title"] = "HomePage";
}

<h2 style="color:greenyellow; text-align:center">SJPOWA EAZY PROJECT => MVC => CRUD</h2>
<br /><br /><br />
<div style="text-align:center; color:yellow">
    <h3 style="color:red">!!! </h3>
    COPYRIGHT NOT ADDED
<h3 style="color:red">!!! </h3>    
</div>
