@{
    ViewData["Title"] = "HomePage";
}

<h2 style="color:greenyellow; text-align:center">C# PROJECT => MVC => CRUD</h2>
<br /><br /><br />
<div style="text-align:center; color:yellow">
    <h1 style="color:white"> <i style="color:red">!!! </i> <i class="fab fa-btc" style="color:rgb(8 208 34 / 0.95)"></i> COPYRIGHT NOT ADDED <i class="fab fa-btc" style="color:rgb(8 208 34 / 0.95)"></i> <i style="color:red"> !!!</i></h1>
</div>
