@{
    ViewData["Title"] = "HomePage";
}

<br />
<div style="text-align:center; color:aqua !important">
    <div>
        Hi,
    </div>
    <div>
        this MVC project has been done as an EZ exercise
    </div>
    <div>
        which is done with CRUD Methods
    </div>
    <div>
        1 to N Table Relations
    </div>
    <div>
        and We have the use of Enums too!!! <i style="color:red" class="far fa-grin-tongue-wink fa-2x"></i>
    </div>
    <hr />
    <div>
        Everyhing is done so with EF, I guess...
    </div>
    <div>
        but...
    </div>
    <div>
        Click <a href="https://www.ef.com/wwen/">HERE</a> to understand what is EF
    </div>
    <hr style="width:30% !important" />
    <div>
        This is a Professional Project
    </div>
    <div>
        so...
    </div>
    <div>
        if u want to criticize
    </div>
    <div>
        I give u an
    </div>
    <div>
        ...
    </div>
    <a href="https://www.wikihow.com/Uninstall-Windows">
        ADVICE
    </a>
    <hr style="width:10% !important" />
</div>
<div style="text-align:center; color:yellow">
    <h4 style="color:white"> <i style="color:red">!!! </i> <i class="fab fa-btc" style="color:rgb(8 208 34 / 0.95)"></i> COPYRIGHT NOT ADDED <i class="fab fa-btc" style="color:rgb(8 208 34 / 0.95)"></i> <i style="color:red"> !!!</i></h4>
</div>
