<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CeLaFaremoMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
</head>
<body style="background-color:#121533;">
    <header>
        <nav id="colorNavBar" class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <a id="nameProjectBar" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-frog"></i>  SJPOWA-MVC-PROJECT  <i class="fas fa-frog"></i> </a>
                <ul class="navbar-nav flex-grow-1" style="margin-left:65%">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Electronic" asp-action="Index">ELECTRONICS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Laptop" asp-action="Index">LAPTOPS</a>
                    </li>
                </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="colorNavBar" class="border-top footer">
        <ul>
            <li>
                <h5 style="color: aquamarine; text-align: center; margin-top:10px">
                    SJPOWA SOCIALS
                </h5>
            </li>
            <li style="text-align:center">
                <a style="color: purple; text-decoration: none " class="fab fa-twitch fa-2x mx-1" href="https://www.twitch.tv/sjpowa_"></a>
                <a style="color: red; text-decoration: none" class="fab fa-youtube fa-2x mx-1" href="https://www.youtube.com/channel/UCHxwpZzynNKeAaCiPVzlaWA"></a>
                <a style="color: white; text-decoration: none" class="fab fa-instagram fa-2x mx-1" href="https://www.instagram.com/sjpowa/?hl=en"></a>
            </li>
            <li style="text-align:center; display: block; height: auto; width: auto">
                <a style="color:cyan; text-decoration: none" href="https://www.cia.gov/">Privacy</a>
            </li>
        </ul>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
